/* CSS for Project TTT */

.container {
    display: flex;
    max-width: 30em;
    max-height: 30em;
    border: solid 1px red;
    padding: 2em;
}

.space {
    flex-flow: wrap;
    width: 9em;
    height: 9em;
    border: solid 1px gold;
}